[Unit]
Description=SMART Exporter

[Service]
User=root
ExecStart=/bin/exporter/smart_exporter --config=/etc/smart_exporter.yml
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
