[Unit]
Description=SMARTCTL Exporter

[Service]
User=root
ExecStart=/bin/exporter/smartctl_exporter --config=/etc/smartctl_exporter.yml
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
